.posts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 30px;
    border-radius: 50%;
}

.post-user {
    display: flex;
    width: 100%;
    margin-top: 50px;
}


.post-image{
    width: 50%;
    height: 50%;
    margin-left: 50px;
    object-fit: cover;
    border-radius: 8px;
    align-self: flex-start;
    margin-top: 15px;
}
.post-text{
    text-align: left;
    margin-left: 56px;
    margin-top: 4px;
    color: #f3f5f7;
}
.post-time{
color: #f3f5f7;
font-weight: bold;
margin-left: 15px;
margin-top: -1px;
font-size: 15px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.delete{
    color: #f3f5f7;
    font-size: 20px;
    margin-left: 450px;
}
.delete-text{
    color: #f3f5f7;
    font-size: 15px;
    margin-left: 500px;
}
.style_post-user__7_m7K {
    display: flex;
    width: 100%;
    margin-top: 24px;
}
.like{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    margin-left: -250px;
    color: #f3f5f7;
    margin-bottom: -9px;
}
.comment{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* background-color: red; */
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 23px;
    margin-left: -180px;
    color: #fff;
}
.repost{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #fff;
    margin-left: -120px;
    margin-top: -9px;
}